{% extends 'base.html.twig' %}

{% block title %}Listing All Produce Items{% endblock %}

{% block body %}

<div>

{{produceItem.name}} {{produceItem.expiration_date}} {{produceItem.icon}}

</div>

{% endblock %}
